### invoice project ###
tmp

/templates/*
!/templates/input.yml
!/templates/config.yml

/fonts/*
!/fonts/*.ttf
!/fonts/*.map

*.pdf

### VisualStudioCode ###
# Debugger
__debug_bin

### Golang ###
# Binaries
bin/
